# Task 1

We were tasked with finding some interesting websites with tables to scrape and produce a pandas dataframe from. For this I chose to scrpae the English Premier League table on the Skysports website.

In [21]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

url = 'https://www.skysports.com/premier-league-table'

r = requests.get(url)

data = r.text

In [24]:
soup = BeautifulSoup(data, 'html.parser')

In [27]:
table = soup.find('table', attrs={'class': 'standing-table__table'})
results = table.find_all('tr')

In [46]:
rows = []

for result in results:
    data = result.find_all('td')

    if len(data) == 0:
        continue

    rank = data[0].getText()
    team = data[1].getText()
    pl = data[2].getText()
    w = data[3].getText()
    d = data[4].getText()
    l = data[5].getText()
    f = data[6].getText()
    a = data[7].getText()
    gd = data[8].getText()
    pts = data[9].getText()
    
    team = team.strip('\n')

    rows.append([rank, team, pl, w, d, l, f, a, gd, pts])

In [47]:
print(rows)

[['1', 'Manchester City', '30', '22', '5', '3', '64', '21', '43', '71'], ['2', 'Manchester United', '29', '16', '9', '4', '56', '32', '24', '57'], ['3', 'Leicester City', '29', '17', '5', '7', '53', '32', '21', '56'], ['4', 'Chelsea', '29', '14', '9', '6', '44', '25', '19', '51'], ['5', 'West Ham United', '28', '14', '6', '8', '42', '32', '10', '48'], ['6', 'Liverpool', '29', '13', '7', '9', '48', '36', '12', '46'], ['7', 'Everton', '28', '14', '4', '10', '40', '37', '3', '46'], ['8', 'Tottenham Hotspur', '28', '13', '6', '9', '47', '30', '17', '45'], ['9', 'Aston Villa', '27', '12', '5', '10', '39', '28', '11', '41'], ['10', 'Arsenal', '28', '12', '5', '11', '37', '29', '8', '41'], ['11', 'Crystal Palace', '29', '10', '7', '12', '31', '47', '-16', '37'], ['12', 'Leeds United', '28', '11', '3', '14', '43', '46', '-3', '36'], ['13', 'Wolverhampton Wanderers', '29', '9', '8', '12', '28', '38', '-10', '35'], ['14', 'Southampton', '29', '9', '6', '14', '36', '51', '-15', '33'], ['15', 'Burnley', '29', '8', '9', '12', '22', '37', '-15', '33'], ['16', 'Brighton and Hove Albion', '28', '6', '11', '11', '29', '36', '-7', '29'], ['17', 'Newcastle United', '28', '7', '7', '14', '28', '45', '-17', '28'], ['18', 'Fulham', '29', '5', '11', '13', '22', '36', '-14', '26'], ['19', 'West Bromwich Albion', '29', '3', '9', '17', '20', '57', '-37', '18'], ['20', 'Sheffield United', '29', '4', '2', '23', '16', '50', '-34', '14']]

In [48]:
cols = ['Rank', 'Team', 'pl', 'w', 'd', 'l', 'f', 'a', 'gd', 'pts']
df = pd.DataFrame(rows, columns=cols)
df

   Rank                      Team  pl   w   d   l   f   a   gd pts
0     1           Manchester City  30  22   5   3  64  21   43  71
1     2         Manchester United  29  16   9   4  56  32   24  57
2     3            Leicester City  29  17   5   7  53  32   21  56
3     4                   Chelsea  29  14   9   6  44  25   19  51
4     5           West Ham United  28  14   6   8  42  32   10  48
5     6                 Liverpool  29  13   7   9  48  36   12  46
6     7                   Everton  28  14   4  10  40  37    3  46
7     8         Tottenham Hotspur  28  13   6   9  47  30   17  45
8     9               Aston Villa  27  12   5  10  39  28   11  41
9    10                   Arsenal  28  12   5  11  37  29    8  41
10   11            Crystal Palace  29  10   7  12  31  47  -16  37
11   12              Leeds United  28  11   3  14  43  46   -3  36
12   13   Wolverhampton Wanderers  29   9   8  12  28  38  -10  35
13   14               Southampton  29   9   6  14  36  51  -15  33
14   15                   Burnley  29   8   9  12  22  37  -15  33
15   16  Brighton and Hove Albion  28   6  11  11  29  36   -7  29
16   17          Newcastle United  28   7   7  14  28  45  -17  28
17   18                    Fulham  29   5  11  13  22  36  -14  26
18   19      West Bromwich Albion  29   3   9  17  20  57  -37  18
19   20          Sheffield United  29   4   2  23  16  50  -34  14